<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{index.html}">
<head>
    <title>Nouveau Article</title>
</head>
<body>
<section layout:fragment="content">
    <div class="content-header justify-content-between">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item"><a href="ltArticle">Listes des Articles</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Nouveau Article</li>
                </ol>
            </nav>
            <h4 class="content-title content-title-xs">Formulaire pour ajouter un nouveau article</h4>
        </div>

    </div>
    <div class="alert alert-solid alert-primary d-flex align-items-center mg-b-0" role="alert">
        <i data-feather="alert-circle" class="mg-r-10"></i> Cette alerte a besoin de votre attention,<strong>vous devez obligatoirement remplir tous les champs.</strong>
    </div>
    <div class="card mg-t-25">
        <div class="card-body">
            <form th:action="@{saveArticle}" method="post" th:object="${article}">
                <h6 class="tx-uppercase tx-semibold tx-color-01 mg-b-0">Les informations D'un Article</h6>
                <hr>
                <div class="">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="form-label">Code Article</label>
                            <input class="form-control" type="hidden" name="id" th:value="${article.id}">
                            <input type="text" class="form-control" placeholder="Entrer Le Code d'Article" th:field="*{codeArticle}">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Nom Article</label>
                            <input type="text" class="form-control" placeholder="Entrer Le Nom d'Article" th:field="*{nomArticle}">
                        </div>
                    </div><!-- form-group -->
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="form-label">Catégorie</label>
                            <input type="text" class="form-control" placeholder="Choisir La Catégorie d'Article" th:field="*{category}">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Quantité</label>
                            <input type="text" class="form-control" placeholder="Entrer La Quantité d'Article" th:field="*{quantitee}">
                        </div>
                    </div><!-- form-group -->
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="form-label">Prix Unitaire HT</label>
                            <input type="text" class="form-control" placeholder="Entrer Le Prix Unitaire HT d'Article" th:field="*{prixUnitaireHT}">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Prix Unitaire TTC</label>
                            <input type="text" class="form-control" placeholder="Entrer Le Prix Unitaire TTC d'Article" th:field="*{prixUnitaireTTC}">
                        </div>
                    </div><!-- form-group -->
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="form-label">Taux TVA</label>
                            <input type="text" class="form-control" placeholder="Entrer Taux TVA" th:field="*{tauxTVA}">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Photo</label>
                            <input type="text" class="form-control" placeholder="Entrer La Ville Du Client" th:field="*{photo}">
                        </div>
                    </div><!-- form-group -->
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="form-label">Designation</label>
                            <textarea class="form-control" rows="3" placeholder="Entrer En Bref La Designation Le Prix Unitaire" th:field="*{designation}"></textarea>
                        </div>
                    </div><!-- form-group -->
                    <hr class="op-0">

                    <button class="btn btn-brand-02" type="submit">Enregistrer</button>
                    <button class="btn btn-white mg-l-2">Annuler</button>
                </div>
            </form>

        </div>
    </div>
</section>
</body>
</html>