<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{index.html}">
<head>
    <title>Ajouter Un nouveau Client</title>
</head>
<body>
<section layout:fragment="content">
    <div class="content-header justify-content-between">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item"><a href="ltClient">Listes des Clients</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Nouveau Client</li>
                </ol>
            </nav>
            <h4 class="content-title content-title-xs">Formulaire pour ajouter un nouveau client</h4>
        </div>

    </div>
    <div class="alert alert-solid alert-primary d-flex align-items-center mg-b-0" role="alert">
        <i data-feather="alert-circle" class="mg-r-10"></i> Cette alerte a besoin de votre attention,<strong>vous devez obligatoirement remplir tous les champs.</strong>
    </div>
    <div class="card mg-t-25">
        <div class="card-body">
            <form th:action="@{saveClient}" method="post" th:object="${client}">
                <h6 class="tx-uppercase tx-semibold tx-color-01 mg-b-0">Les informations Du Client</h6>
                <hr>
                <div class="">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="form-label">Nom</label>
                            <input class="form-control" type="hidden" name="id" th:value="${client.id}">
                            <input type="text" class="form-control" placeholder="Entrer Le Nom Du Client" th:field="*{nom}">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Prenom</label>
                            <input type="text" class="form-control" placeholder="Entrer Le Prenom Du Client" th:field="*{prenom}">
                        </div>
                    </div><!-- form-group -->
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="form-label">Mail</label>
                            <input type="text" class="form-control" placeholder="Entrer L'Adresse Mail Du Client" th:field="*{mail}">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Numéro De Téléphone</label>
                            <input type="text" class="form-control" placeholder="Entrer Le Numéro De Téléphone Du Client" th:field="*{tel}">
                        </div>
                    </div><!-- form-group -->
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="form-label">Ville</label>
                            <input type="text" class="form-control" placeholder="Entrer La Ville Du Client" th:field="*{ville}">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Adresse</label>
                            <textarea class="form-control" rows="2" placeholder="Tapez L'Adresse Du Client" th:field="*{adresse}"></textarea>
                        </div>
                    </div><!-- form-group -->
                    <hr class="op-0">

                    <button class="btn btn-brand-02" type="submit">Enregistrer</button>
                    <button class="btn btn-white mg-l-2">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>