<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <!-- Meta -->
    <meta name="description" content="Gestion Stock est une application web qui permet aux professionnels de mieux gérer leurs stocks de marchandises">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/../assets/img/favicon.png">

    <title>GStock</title>

    <!-- vendor css -->
    <link href="/../lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/../lib/jqvmap/jqvmap.min.css" rel="stylesheet">

    <!-- template css -->
    <link rel="stylesheet" href="/../assets/css/cassie.css">
</head>
<body>

<div class="sidebar">
    <div class="sidebar-header">
        <div>
            <a href="dashboard" class="sidebar-logo"><span>GStock</span></a>
            <small class="sidebar-logo-headline">Responsive Dashboard Template</small>
        </div>
    </div><!-- sidebar-header -->
    <ul id="dpSidebarBody" class="sidebar-body">
        <ul class="nav nav-sidebar">
            <li class="nav-label"><label class="content-label">Template Pages</label></li>
            <li class="nav-item"><a href="dashboard" class="nav-link with-sub active"><i data-feather="box"></i> Dashboard</a></li>
            <li class="nav-item"><a href="" class="nav-link"><i data-feather="clipboard"></i> Articles</a></li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i data-feather="users"></i> Clients</a>
                <nav class="nav nav-sub">
                    <a href="client" class="nav-sub-link">Liste Clients</a>
                    <a href="" class="nav-sub-link">Commandes Clients</a>
                </nav>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i data-feather="life-buoy"></i> Fournisseurs</a>
                <nav class="nav nav-sub">
                    <a href="" class="nav-sub-link">Liste Fournisseurs</a>
                    <a href="" class="nav-sub-link">Commandes Fournisseurs</a>
                </nav>
            </li>
            <li class="nav-item"><a href="" class="nav-link"><i data-feather="package"></i> Stock</a></li>
            <li class="nav-item"><a href="" class="nav-link"><i data-feather="shopping-cart"></i> Ventes</a></li>
            <li class="nav-item"><a href="" class="nav-link"><i data-feather="settings"></i> Paramétrage</a></li>
        </ul>
    </ul>
</div><!-- sidebar -->

<script src="/../lib/jquery/jquery.min.js"></script>
<script src="/../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/../lib/feather-icons/feather.min.js"></script>
<script src="/../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/../lib/js-cookie/js.cookie.js"></script>
<script src="/../lib/chart.js/Chart.bundle.min.js"></script>
<script src="/../lib/jquery.flot/jquery.flot.js"></script>
<script src="/../lib/jquery.flot/jquery.flot.stack.js"></script>
<script src="/../lib/jquery.flot/jquery.flot.resize.js"></script>
<script src="/../lib/jquery.flot/jquery.flot.threshold.js"></script>
<script src="/../lib/jqvmap/jquery.vmap.min.js"></script>
<script src="/../lib/jqvmap/maps/jquery.vmap.world.js"></script>

<script src="/../assets/js/cassie.js"></script>
<script src="/../assets/js/flot.sampledata.js"></script>
<script src="/../assets/js/vmap.sampledata.js"></script>
<script src="/../assets/js/dashboard-one.js"></script>

<section layout:fragment="content">
    <p>Page content goes here</p>
</section>
</body>
</html>
